* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9F9F9;
}

/* Fonts */
@font-face {
    font-family: 'TT Commons Medium';
    src: url('./src/fonts/TTCommons-Medium.eot');
    src: url('./src/fonts/TTCommons-Medium.woff') format('woff'),
        url('./src/fonts/TTCommons-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('./src/fonts/Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/Roboto-Regular.woff') format('woff'),
        url('./src/fonts/Roboto-Regular.ttf') format('truetype');
}


/* main section height */
#main {
    height: 100vh;
    margin-block-start: 9.4rem;
}

/* title header font */
.header-title {
    font-family: 'TT Commons Medium', Roboto, sans-serif;
    font-size: 36px;
    letter-spacing: -0.5px;
    line-height: 42px;
}

/* custom container */
.container.custom-container {
    max-width: 1050px;
}

.custom-trending-style {
    font-family: 'Roboto Regular', sans-serif;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 17px;
    letter-spacing: 0.2px;
    word-spacing: 1px;
    font-weight: 500;

}

.btn-custom-styles {
    font-size: 13px;
    border-radius: 2rem;
    background-color: #EAEAEA;
    padding: 0 16px;
    margin: 10px 4px 0;
    border-radius: 2em;
    line-height: 30px;
    font-weight: normal;
    min-width: auto;
}

/* card styles */
.card.custom-radius {
    border-radius: .8rem;
}

.card-title {
    font-family: 'TT Commons Medium', Roboto, sans-serif;
    font-size: 20px;
    margin: 0 0 20px;
}

/* Material Outliner Fields */
.material-textfield {
    position: relative;
}

label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

input {
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
}

input:focus {
    border-color: #6200EE;
}

input:focus+label {
    color: #6200EE;
    top: 0;
    transform: translateY(-50%) scale(.9);
}

input:not(:placeholder-shown)+label {
    top: 0;
    transform: translateY(-50%) scale(.9);
}